
<div class="title">
        <h1>New Video</h1>
</div>
<div class="ui text container">
<%= render 'form', video: @video %>

<button class="ui blue basic button"><%= link_to 'Back', videos_path %></button>
</div>