// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign_out {
   margin-left: 1240px;
   margin-top: -310px;
}

.sign {
    margin-left: 1190px;
    margin-top: -20px;

}
.sign_in {
    margin-left: 1290px;
    margin-top: -35px;
}
.log_out {
        margin-left: 1300px;
        margin-top: -40px;
        font-size: 16px;
}
#bar {
    margin-top: -35px;
    margin-left: 200px;

  
}
#cart {
    margin-top: -35px;
    margin-left: 1200px;

}

.ui.four.cards {
    margin-top: 700px;

}
.banking {
    margin-left: 40px;
}
